* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  background-image: linear-gradient(120deg, #5890c4, #0f1f2d);
  color: #fff;
  font-family: sans-serif!important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

h2 {
  margin: 1px 0 20px;
  text-align: center;
}

.container {
  background-color: #619ad1;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 2.2);
  padding: 30px;
  width: 350px;
  border-radius: 20px;
  max-width: 100%;
}

.result-container {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  border-radius: 13px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 12px 10px;
  height: 50px;
  width: 100%;
}

.result-container #result {
  word-wrap: break-word;
  max-width: calc(100% - 40px);
  border-radius: 13px;
}

.result-container .btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  font-size: 20px;
}

input.number {
  border-radius: 5.5px;
  text-align: left;
  border: none;
}

button.btn {
  border: none;
  background-color: #2b5c8a;
  border: 1.5px solid #2b5c8a;
  transition: 0.5s;
  color: #fff;
  border-radius: 13px;
  font-size: 16px;
  padding: 8px 10px;
  cursor: pointer;
}

button.btn:hover {
  transition: 0.5s;
  border: 1.5px solid white;
}

.btn-large {
  border: 1.5px solid #2b5c8a;
  transition: 0.4s;
  display: block;
  width: 100%;
}

.btn-large:hover {
  border: 1.5px solid white;
  transition: 0.4s;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

img.copy {
    height: 23px;
    float: left;
}